.fc-header-toolbar {
  width: 100%;
  height: 58px;
  padding: 0 17px;
  margin-bottom: 0px !important;
  .fc-toolbar-chunk {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.fc-button-primary {
  background-color: transparent !important;
  border-color: transparent !important;
  color: black !important;
  outline: none !important;
}

.day-padding {
  padding: 12px !important;
}

.header-sel-inp {
  position: absolute;
  left: 50%;
  top: 80px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  transform: translateX(-50%);

  .dropdown-nav {
    @include set-text-style(700, normal, 14px, 17px, $primary-color);
    width: 133px;
    height: 32px;
    border: 1.5px solid $inputfieldborder-color;
    border-radius: 10px;
  }
  .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    .input-search {
      width: 170px;
      height: 32px;
      padding: 10px;
      border-radius: 10px;
      @include set-text-style(500, normal, 14px, 16.8px, #414141);
    }
    .icon-search {
      position: absolute;
      left: 145px;
    }
  }
}

.weekNum {
  margin: 15px 0px 0px 15px;
  padding: 5px;
}
