$primary-color: #363865;
$secondary-color: #1fb86e;
$dangerRed-color: #B81F1F;
$disabledGrey-color:#929292;

$inputfieldtext-color:#cfcfcf;
$inputfieldborder-color:#dadada;

$colors: (
  red: #db2828,
  orange: #f2711c,
  green: #21ba45,
  "yellow": #00b5ad,
  blue: #2185d0,
);