$colors: (
  red: #db2828,
  orange: #f2711c,
  green: #21ba45,
  teal: #00b5ad,
  blue: #2185d0,
);

.colorbox {
  input[type='radio'] {
    display: none;
    &:checked + label {
      span {
        transform: scale(1.25);
      }
      @each $name, $value in $colors {
        .#{$name} {
          border: 2px solid darken($value, 25%);
        }
      } // !@each
    } // !&:checked + label
  }

  label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;

    cursor: pointer;
    &:hover {
      span {
        transform: scale(1.25);
        border: 2px solid #787878;
      }
    }
    span {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      transition: transform 0.2s ease-in-out;
      @each $name, $value in $colors {
        &.#{$name} {
          background: $value;
        }
      }
    }
  }
}
